.slider{
    
     position: relative; 
    user-select: none; 
    /* overflow: hidden;    */
}
.slide{
     
   overflow: hidden;    
     /* user-select: none;   */
     
}
.slider-container{
     height: 100%;  
    
         /* position: absolute;            */
      /* pointer-events: none;    */
        /* border: 2px solid red;    */
       border-left: none;
       border-right:none ;
    
         display: flex;  
      ;
        /* gap :1rem;  */
       /* gap: -4rem; */ 
   
      
      
}

    /* pointer-events: none; */
 
    .smoth{
        transition:transform .4s;
    }  
 .slider ul{
    /* background-color: red; */

      position: absolute;  
     bottom: -49px; 
     /* display: block; */
     width: 100%;
     display: flex;
     /* align-items: center; */
     justify-content: center;
      gap: 1rem; 
     list-style: none;

    
}
.slider ul li{
       /* border: 2px solid gray;    */
     /* width: 24px; 
     height: 24px;  */
    
   
        border-radius: 100%;      
   
       /* display: flex;   */
 
   
     
    
}
.slider ul li .btn{
   
   display: block;
   /* margin: 4px auto; */
   margin: 2px;
    
    /* padding-top: 6px; */
 /* line-height: 5px; */
  /* width: 13px; */
  /* height: 13px;  */
  /* width: 80%;
  height:80% ; */
  width: 1.1rem;
  height:1.1rem ;
   border-radius: 100%; 
   border:none;
   outline: none;
   opacity: .25;
     background:black;  
     /* opacity: 0; */
  cursor: pointer;
 
    
}
